<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seu.kse.dao.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.seu.kse.bean.Paper" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.seu.kse.bean.Paper" extends="BaseResultMap" >
    <result column="paper_abstract" property="paperAbstract" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="papers" type="com.seu.kse.bean.Paper">
    <collection property="paper" ofType="com.seu.kse.bean.Paper" javaType="ArrayList">
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="keywords" property="keywords" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="INTEGER" />
      <result column="publisher" property="publisher" jdbcType="VARCHAR" />
      <result column="time" property="time" jdbcType="DATE" />
      <result column="paper_abstract" property="paperAbstract" jdbcType="LONGVARCHAR" />
      <result column="url" property="url" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, keywords, type, publisher, time, url
  </sql>
  <sql id="Blob_Column_List" >
    paper_abstract
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="countPaperId" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*)
    from paper
    where id=#{id}

  </select>
  <select id="selectByTitle" resultMap="ResultMapWithBLOBs " parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
    where title = #{title,jdbcType=VARCHAR}
  </select>

  <select id="selectAllPaper" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
  </select>

  <select id="selectLimitPaper" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper ORDER BY time DESC limit #{arg0}
  </select>

  <select id="selectLimitArxiv" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper where type = 0  ORDER BY time DESC limit #{arg0}
  </select>

  <select id="selectAllArxivPaper" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
  </select>

  <select id="selectPaperOrderByTime" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
    WHERE type &lt; #{arg2} ORDER BY time DESC LIMIT #{arg0}, #{arg1}
  </select>


  <select id="selectTodayArxiv" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper  WHERE time >= #{arg2} and type = #{arg3}
    ORDER BY time DESC LIMIT #{arg0}, #{arg1}
  </select>

  <select id="selectTodayPaper" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper  WHERE time >= #{arg0}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from paper
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seu.kse.bean.Paper" >
    insert into paper (id, title, keywords, 
      type, publisher, time, 
      paper_abstract, url)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{publisher,jdbcType=VARCHAR}, #{time,jdbcType=DATE},
      #{paperAbstract,jdbcType=LONGVARCHAR}, #{url, jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.kse.bean.Paper" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="paperAbstract != null" >
        paper_abstract,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="paperAbstract != null" >
        #{paperAbstract,jdbcType=LONGVARCHAR},
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.kse.bean.Paper" >
    update paper
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="paperAbstract != null" >
        paper_abstract = #{paperAbstract,jdbcType=LONGVARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.seu.kse.bean.Paper" >
    update paper
    set title = #{title,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      publisher = #{publisher,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      paper_abstract = #{paperAbstract,jdbcType=LONGVARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.kse.bean.Paper" >
    update paper
    set title = #{title,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      publisher = #{publisher,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>