<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.kse.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.seu.kse.bean.Tag">
    <id column="tagName" jdbcType="VARCHAR" property="tagname" />
    <id column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tag
    where tagName = #{tagname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seu.kse.bean.Tag">
    insert into tag (tagName,time)
    values (#{tagname,jdbcType=VARCHAR},#{time,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.kse.bean.Tag">
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagname != null">
        tagName,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagname != null">
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
    </trim>
  </insert>


  <select id="selectByTagName"  resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    *
     FROM
    tag where tagName = #{tagname, jdbcType=VARCHAR}
  </select>

  <select id="selectAllTag" resultMap="BaseResultMap">
    select
    *
    FROM
    tag
  </select>

  <select id="selectTodayTag" resultMap="BaseResultMap">
    select
    *
    FROM
    tag
    time >= #{arg0}
  </select>
</mapper>